@{
    ViewData["Title"] = "Applications";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model IEnumerable<Cit.Apps.Licensing.UI.ViewModels.ApplicationViewModel>
<h2>Applications</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <div class="btn-group float-end" role="group">
                            <a href="#" class="btn btn-primary mx-lg-2">Edit</a>
                            <a href="#" class="btn btn-danger mx-lg-2">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
