
@{
    ViewData["Title"] = "GetAllPlans";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>GetAllPlans</h1>
@model IEnumerable<Cit.Apps.Licensing.UI.ViewModels.SubscriptionPlansViewModel>;

@foreach(var item in Model)
{
    <h1>@item.Name</h1>
}
